{% extends "shop/base.html" %}

{% block content %}
  <div class="hero">
    <h2>Добро пожаловать в Bla Bla Bla Coffee!</h2>
     <p class="subtitle">
      Здесь каждый глоток кофе — это история. Мы создаём напитки, которые дарят тепло,
      бодрость и вдохновение каждый день.
    </p>
    <a href="{% url 'menu' %}" class="btn">Перейти в меню</a>
  </div>

  <section class="features">
    <div class="feature">
      <h3>☕ Ароматный кофе</h3>
      <p>Только свежие зерна и авторские рецепты.</p>
    </div>
    <div class="feature">
      <h3>🥐 Свежая выпечка</h3>
      <p>Каждый день мы готовим круассаны, маффины и тортики.</p>
    </div>
    <div class="feature">
      <h3>🛋 Уютная атмосфера</h3>
      <p>Идеальное место для работы, встреч и отдыха.</p>
    </div>
  </section>

  <section class="about">
    <h3>О нас</h3>
    <p>
      Bla Bla Bla Coffee — это не просто кофейня, это сообщество людей, которые любят вкусный кофе
      и ценят качество. Мы верим, что чашка правильно сваренного кофе может сделать день лучше,
      а уютная атмосфера — подарить вдохновение для новых идей.
    </p>
    <p>
      Мы гордимся тем, что выбираем только натуральные ингредиенты и сотрудничаем с локальными
      поставщиками. Для нас важно, чтобы каждый гость почувствовал себя как дома и вернулся к нам снова.
    </p>
  </section>

  <section class="locations">
    <h3>Наши локации</h3>
    <p class="locations-subtitle">
      Мы всегда рядом, чтобы порадовать вас ароматным кофе. Приходите в ближайшую кофейню Bla Bla Bla Coffee.
    </p>

    <div class="locations-list">
      <div class="location-item">
        <h4>📍 Bla Bla Bla Coffee — Центр</h4>
        <p>г. Ташкент, ул. Амир Темур, 15</p>
        <p>Ежедневно с 8:00 до 22:00</p>
      </div>

      <div class="location-item">
        <h4>📍 Bla Bla Bla Coffee — Парк</h4>
        <p>г. Ташкент, ул. Навои, 48 (рядом с парком)</p>
        <p>Ежедневно с 9:00 до 23:00</p>
      </div>

      <div class="location-item">
        <h4>📍 Bla Bla Bla Coffee — Мега Молл</h4>
        <p>г. Ташкент, проспект Мустакиллик, 120 (2 этаж)</p>
        <p>Ежедневно с 10:00 до 22:00</p>
      </div>
    </div>
  </section>


{% endblock %}
